body, html {
  height: 100%;
  margin-top: 25px;
  font: 400 15px/1.8 "Lato", sans-serif;
  background-image: url("images/Dwelling_in_the_Fuchun_Mountains_(first_half) (1).jpg");
  background-color: #a8a5a5;
  background-size: cover;
  background-blend-mode: soft-light;
}

iframe {
  border-width: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #555;
}

.active {
  background-color: #c2735d;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover
li a:hover {
  background-color: #555;
  color: white;
}

li a.active {
  background-color: #c2735d;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
*/